extends ../layout
  
block content
  a(href="admin/lessons/")
    button(type="button" class="own-class btn btn-primary") Add lesson
    a(href="admin/tasks/")
        button(type="button" class="own-class btn btn-primary") Add task 
