extends ../layout

block content
  
div.container
  a(href="create")
    button(type="button" class="own-class btn btn-info") Add lesson
  a(href="create")
    button(type="button" class="own-class btn btn-info") Add task 
