extends ../layout
  
block content
  a(href="admin/lesson-form")
    button(type="button" class="own-class btn btn-primary") Add lesson
    a(href="admin/task-form")
        button(type="button" class="own-class btn btn-primary") Add task 
