extends ../layout

block content
    .list-group
        a.list-group-item.active(href='#') First lesson
        a.list-group-item(href='#') Second lesson
        a.list-group-item(href='#') Third lesson

    ul
        each val in [1, 2, 3, 4, 5]
        li= val