extends ../../layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Task form

        // register form
        form(method='POST' action='/admin/task-form/addnewtask')
          div.form-group
            input(type='hidden', name='_csrf', value=_csrf)
          div.form-group
            label(for='task_name') Task name:
            input#name.form-control(type='text', placeholder='Task name' name='name')
              
          div.form-group
            label(for='lessons') Lesson:
            select#name.form-control(type='text', placeholder='Select Lesson' name='lessons')
              each val in lessons
                option(value=val._id)= val.name
            
          div.form-group
            label(for='task_description') Task description:
            textarea#favoriteBook.form-control(type='text', placeholder='Task description' name='description')
          
          div.form-group
            label(for='task_tests') Task tests:
            textarea#favoriteBook.form-control(type='text', placeholder='Task tests' name='tests')
              
          button.btn.btn-primary(type='submit') Add task
